@model IEnumerable<StudentManager.Backend.Entities.FitnessProgram>

@{
    ViewData["Title"] = "Index";
}

<h1 class="Fit-Types-Title">Index</h1>
@if(User.IsInRole(WC.Admin)){
    <p>
   <button class="Fit-Types-Create"> <a asp-action="Create">Create New</a></button>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FitnessType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FitnessType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
            </td>
        </tr>
}
    </tbody>
</table>
